body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #dbdbdb;
    padding: 2rem 1rem;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

header:hover {
    background-color: #c4c4c4;
}

.container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

form input:focus {
    box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
    border-color: #007bff;
}

form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #333;
}

section {
    margin: 20px auto;
    max-width: 500px;
    cursor: pointer;
}

section:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

footer {
    background-color: #222;
    padding: 3rem;
    color: #fff;
    text-align: center;
}

footer section {
    margin-top: 10px;
}

footer p {
    margin: 0;
}

footer a {
    transition: color 0.3s ease;
    color: #fff;
    text-decoration: none;
    margin: 5px;
    display: inline-block;
}

footer a:hover {
    color: cornflowerblue;
}
